/GetLinkDownloadToomva/obj
/GetLinkDownloadToomva/bin
/.vs
/Services.Infrashstructure/bin
/Services.Infrashstructure/obj
/GetLinkDownloadToomva/wwwroot/lib
/GetLinkDownloadToomva/wwwroot/writeFiles
/Services.Clawer/bin
/Services.RegEmail/bin
/Services.WriteFile/bin
/Services.Clawer/obj
/Services.RegEmail/obj
/Services.WriteFile/obj
